@CHARSET "UTF-8";
#content table {
	width: 100%;
	border: 1px solid black;
	border-collapse: collapse;
	border-spacing: 0px;
	margin-top: 20px;
}
#content td {
	border: 1px solid black;
	border-collapse: collapse;
	border-spacing: 0px;
	padding: 5px;
}