@CHARSET "UTF-8";
* {
	margin: 0px;
	padding: 0px;
	border: 0;
}
html[lang^="ko"] {
	font-family: "Nanum Gothic", "나눔 고딕", "NanumGothic", sans-serif;
}
header {
	width: 980px;
	height: 90px;
	background-color: black;
	margin: 0 auto;
}
/* content */
#wrap {
	width: 980px;
	margin: 0 auto;
	margin-top: 5px;
	min-height: 770px;
}
#lnav {
	width: 178px;
	float:left;
	border: 1px solid black;
	min-height: 768px;
}
#content {
	width: 758px;
	float:right;
	border: 1px solid black;
	padding: 20px;
	min-height: 728px;
}
footer {
	clear: both;
	width: 980px;
	height: 50px;
	background-color: black;
	margin: 0 auto;
	margin-top: 5px;
}